<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915472705230-c0ktqbh4sbiod1n6oca6ucgs6qnbjn44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915472705230-c0ktqbh4sbiod1n6oca6ucgs6qnbjn44</string>
	<key>API_KEY</key>
	<string>AIzaSyAAXaTS8-9nkQNKI40HOkZNt1MY_Hp2jQA</string>
	<key>GCM_SENDER_ID</key>
	<string>915472705230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JCDev.Basin</string>
	<key>PROJECT_ID</key>
	<string>stuy-wash-n-dry</string>
	<key>STORAGE_BUCKET</key>
	<string>stuy-wash-n-dry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:915472705230:ios:6692bfeb0244a7eab8129f</string>
</dict>
</plist>
